* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height:100%;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100%;
}

header nav ul {    
    display: flex;
    align-items: center;
    
    list-style: none;   
}

header nav ul li:last-child {
    padding: 0 20px;
}

header nav ul li a {
    padding: 0 7px;

    color: #212121;

    font-size: 12px;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    margin-left: 15px;
    
    border-radius: 18px;
    
    cursor: pointer;
}

header nav ul li > div:hover {
    background-color: #f0f0f0;
}

.wrapper-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 20px;
    height: 20px;
}

.google-apps .circle {
    width: 4px;
    height: 4px;

    margin: 1px;

    background-color: #5F6368;
    border-radius: 2px;
}

header nav ul li button {
    width: 120.5px;
    height: 36px;

    background-color: rgb(26, 115, 232);
    border: none;
    border-radius: 4px;

    color: #ffffff;

    cursor: pointer;
    outline: none;
}

header nav ul li button:hover {
    background-color: #0974ff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100% - 60px - 94px); /* menos a altura do header e do footer */
    min-height: 305px;
    padding: 0 2.5%;
}

section > figure {
    width: 275px;
    height: 90px;

    background-image: url("../images/google.png");
}

section form {
    width: 100%;
    max-width: 580px;
}

section .wrapper-search {
    position: relative;

    width: 100%;
    height: 44px;
    margin-top: 28px;

    border: 1px solid #DFE1E5;
    border-radius: 22px;

    text-align: center;
}

section .wrapper-search:hover {
    box-shadow: 0 0 3px 2px #ececec;
}

section .wrapper-search figure {
    float: left;
    width: 17px;
    height: 17px;
    margin-left: 12px;
    margin-top: 13px;

    background-image: url("../images/magnifier.png");
}

section .wrapper-search .search {
    width: 75%;
    height: 42px;
    padding-right: 40px;

    border: none;
    
    font-size: 16px;
    outline: none;
}

section .wrapper-search .cross {
    display: none;
    position: absolute;
    right: 107px;
    top: 11px;
    
    width: 20px;
    height: 20px;

    background-image: url("../images/cross.png");
}

section .wrapper-search .vertical-line {
    display: none;
    position: absolute;
    right: 92px;
    top: 9px;
    
    width: 1px;
    height: 24px;

    background-color: #DFE1E5;
}

section .wrapper-search .keyboard {
    float: right;
    width: 25px;
    height: 15px;
    margin-right: 55px;
    margin-top: 13px;

    background-image: url("../images/keyboard.png");
    border: none;
}

section .wrapper-search .mic {
    float: right;
    width: 18px;
    height: 22px;
    margin-right: -61px;
    margin-top: 10px;

    background-image: url("../images/mic.png");
    border: none;
}

.clear {
    clear: both;
}

section .wrapper-buttons {
    margin-top: 28px;   
}

section .wrapper-buttons button {
    margin: 0 6px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

section .wrapper-buttons button:hover {
    box-shadow: 0 1px 4px 1px #dadada;
}

section .wrapper-buttons .search-google {
    width: 142px;
    height: 36px;
}

section .wrapper-buttons .luck {
    width: 136px;
    height: 36px;
}

section p {
    margin-top: 32px;
    margin-bottom: 30px;

    font-size: 12px;
}

section p a {
    text-decoration: none;
}

section p a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: #F2F2F2;
}

footer .footer-top {
    display: flex;
    align-items: center;

    height: 47px;
    padding-left: 31px;

    color: #6F6F6F;
    font-size: 15px;
}

footer .line {
    width: 100%;
    height: 1px;

    background-color: #DADCE0;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 46px;
    padding: 0 36px;
}

footer .footer-bottom a {
    color: #70757A;
    text-decoration: none;
    font-size: 15px;

    padding: 0 10px;
}

@media screen and (max-width:1200px) {
    footer .footer-bottom {
        justify-content: space-around;

        padding: 0;
    }
}

@media screen and (max-width:799px) {
    footer .footer-bottom {
        flex-direction: column;
        justify-content: space-around;
        height: 92px;
    }
}