* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

table {
    margin: 0 auto;
    padding: 10px;

    background-color: #bddff5;
}

table tr:nth-child(2n + 1) {
    background-color: #7eafcf;
}

table tr:nth-child(2n) {
    background-color: #5983a0;
    color: #ffffff;
}

table tr th {
    padding: 2px 20px;
}

table tr td {
    padding: 2px 20px;
}